<div id="redemption_records">
  <% if redemptions.any? %>
    <div class="ledh disp">兑换记录</div>
    <hr class="rule">
    <% redemptions.each do |redemption| %>
      <% drink = Drink.find(redemption.drink) %>
      <div class="led">
        <span class="info">
          <div class="t"><%= drink&.emoji || "🥤" %> <%= drink&.name || redemption.drink %> × <%= redemption.qty %></div>
          <div class="m">兑换 · <%= format_credits(redemption.unit_cost) %> 额度 / 瓶</div>
        </span>
        <span class="d neg">-<%= format("%.1f", redemption.cost) %></span>
      </div>
      <hr class="rule">
    <% end %>
  <% end %>
</div>
